body {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}

img.header {
  width: 100%;
  height: auto;
  max-width:  960px;
}

/* stacking menu */
ul.topnav {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  max-width: 960px;
  position: relative;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #FFB6C1;
}

ul.topnav li a.active {
  text-decoration: underline;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* Grid styles -------------------------------------------------   */
.cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: #FFF0F5;
  padding: 15px 15px 15px 15px;
}
.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}

article {
  position: relative;
}

.article-img {
  height: auto;
  width: 100%;
  object-fit: contain;
}
.article-img:hover {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px){
  .modal-content {
    width: 100%;
  }
}

/* about me body -------------------------------------------------   */
.textbox {
  background-color: #FFF0F5;
  padding: 15px 15px 15px 15px;
  max-width: 960px;
  position: relative;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1;
  margin: 0 auto 30px;
  text-align: justify;
}

img.aboutme {
	width: 100%;
	max-width: 930px;
	height: auto;
}

/* footer -------------------------------------------------   */
div.footer {
  background-color: white;
  align-items: center;
  font-size: 12px;
}

/* links -------------------------------------------------   */
a:link {color: #191970;text-decoration: none;}
a:visited {color: #191970;text-decoration: none;}
a:hover {text-decoration:underline;}